<!DOCTYPE html>
@{ 
    Layout = "_MasterLayout";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/styles/StyleSheet.css" />
</head>
<body>
    <h1>This is my layout page</h1>
    <div>
        @RenderBody()
    </div>
</body>
</html>
